# ─────────────────────────────────────────────
# Entorno
# ─────────────────────────────────────────────
FLASK_ENV=development
SECRET_KEY= 0.0.0.0:$PORT200

# ─────────────────────────────────────────────
# Base de Datos
# ─────────────────────────────────────────────
DATABASE_URL=sqlite:///rendiciones.db
# DATABASE_URL=mysql+pymysql://root:password@localhost/rendiciones_primar
# DATABASE_URL=postgresql://usuario:password@host:5432/nombre_db

# ─────────────────────────────────────────────
# Email (opcional)
# ─────────────────────────────────────────────
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=noreply@primar.cl

# ─────────────────────────────────────────────
# Rate Limiting 