# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/

# Flask
instance/
.webassets-cache

# Base de datos
*.db
*.sqlite
*.sqlite3

# Uploads
uploads/
!uploads/.gitkeep

# Logs
logs/
*.log

# Variables de entorno
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp

# PyInstaller
build/
dist/
*.spec

# OS
.DS_Store
Thumbs.db